body {
	background-image: url("../images/background.jpg");
}

h1,
h2,
h3,
h4 {
	font-family: "Oswald", sans-serif;
}

.display-1 {
	text-align: center;
}

.container {
	text-align: center;
}

#retry {
	display: none;
}

p,
#question,
.list,
#result,
#correct,
#incorrect,
#unanswered {
	color: red;
	font-family: "Anton", sans-serif;
}
